.d-plus-area {
  background-color: #ffcc6e;
  padding: 5px;
}

.d-plus-area span {
  padding: 6px;
}

label#plusScheduleYear {
  display: none;
}

select:has(> option[value="祝日"]) + label#plusScheduleYear {
  display: inline-block;
}

#scheduleYear {
  width: 50px;
}

.d-plus-area .c-item {
  margin: 0 3px;
}

.btnsp {
  cursor: pointer;
}