.d-plus-area {
  background-color: #ffcc6e;
  padding: 5px;
  margin: 14px 0 8px 0;
}

.d-plus-area span {
  padding: 6px;
}

label#scheduleYearArea.none-yearinput {
  display: none;
}

select:has(> option[value="祝日"]) + label#plusScheduleYear {
  display: inline-block;
}

#scheduleYear {
  width: 50px;
}

.d-plus-area .c-item {
  margin: 0 3px;
}

.btnsp {
  cursor: pointer;
}

.d-plus-area dd {
  margin-inline-start: 0;
}

input[type="radio"].radio-btn {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  /* top: 0; */
  left: -10px;
  z-index: 1; /* ラジオボタンを最前面に配置 */
}

.radio-view {
  z-index: 0;
}